<h2>NAME : AMISHA AGRAWAL</h2>
<h2>REGISTRATION NO : 201800601</h2>
<h2>EMAIL : ammyagrawal107@gmail.com</h2>
<p>BIO : I study in Sikkim Manipal Institute Of Technology.
I am 3rd year Computer Science student.<br>
My experiences ranges from Python,Java,Data Structure and Web Designer.<br>
As a Designer I believe in setting ego aside and creating an experience that caters to the user's needs. I have a passion for an organized workflow, designing visual languages, and solving complex problems.</p>